body{
    margin:0;
    min-height: 100vh;
}



.Select-value{
    background-color: #1f2630;
    font-family: playfair display,sans-serif;
    color: #7fafdf;
}
.Select-value-label{
    color: #7fafdf !important;
}

.rc-slider-rail{
    background-color: #1f2630;
}
#year_slider .rc-slider-track{
    background-color: #1f2630 !important;
}

.rc-slider-track{
    background-color: #7fafdf !important;

}

.rc-slider-handle{

    width: 17px;
    height: 17px;
}

.rc-slider-mark-text{
    font-family:playfair display,sans-serif;
    font-size:14px
}
#usa_map{
    padding-bottom: 20px;
}
